{% trans_default_domain  'defaultTrans' %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
<form method="post" class="row" action="{{ path('app_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            {{ 'Welcome'|trans }} {{ app.user.userIdentifier }}
        </div>

    {% else %}
    <h1 class="h3 mb-3 text-center font-weight-normal">{{ 'Login'|trans }}</h1>
    <label for="inputUsername">Email</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="mt-2 mb-4 form-control"
           autocomplete="username" required autofocus>
    <label for="inputPassword">{{ 'Password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="mt-2 form-control"
           autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        <button class="btn btn-primary mt-4" type="submit">
            {{ 'Submit'|trans }}
        </button>
        </form>
    {% endif %}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

{% endblock %}
