{% trans_default_domain  'defaultTrans' %}
{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'Comment review, thank you'|trans }} !</h2>

    <p>{{ 'Applied transition'|trans }}: <strong>{{ transition }}</strong></p>
    <p>{{ 'New state'|trans }}: <strong>{{ comment.state }}</strong></p>
{% endblock %}