{% trans_default_domain  'defaultTrans' %}
{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    {{ 'Author'|trans }}: {{ comment.author }}<br />
    Email: {{ comment.email }}<br />
    {{ 'State'|trans }}: {{ comment.state }}<br />

    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { id: comment.id }) }}">{{ 'Accept'|trans }}</button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">{{ 'Reject'|trans }}</button>
{% endblock %}