{% trans_default_domain  'defaultTrans' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ 'Welcome'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap"
              rel="stylesheet"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <h1 class="visually-hidden">
        {{ 'Guestbook'|trans }}
    </h1>

    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container mt-4 mb-3">
            <a class="navbar-brand me-3 pr-2" href="{{ path('homepage') }}">
                &#128217; {{ 'Guestbook'|trans }}
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#header-menu" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Show/Hide navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="header-menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-language"></i>
                            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                            <li><a class="dropdown-item"
                                   href="{{ path('homepage', {_locale: 'en'}) }}">{{ 'English'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('homepage', {_locale: 'fr'}) }}">{{ 'Français'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item me-2"><span class="nav-link">|</span></li>
                    <li class="nav-item me-2">
                        {% if app.user %}
                        <a class="nav-link" href="{{ path('admin') }}"><i class="fa-solid fa-house"></i>
                            {{ 'Dashboard'|trans }}</a>
                    <li class="nav-item me-2"><span class="nav-link">|</span></li>
                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"
                                                                           aria-hidden="true"></i>
                        {{ 'Disconnect'|trans }}</a>
                    </a>
                    {% else %}
                        <a class="nav-link" href="{{ path('admin') }}">
                            {{ 'Login'|trans }}
                        </a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="bg-light border-bottom">
        <div class="container">
            {{ render_esi(path('conference_header')) }}
        </div>
    </nav>
</header>

<main role="main" class="container mt-5">
    {% block body %}{% endblock %}
</main>

<footer class="mt-7 px-3 py-5 text-center text-muted">
    <p>
        {{ 'Guestbook'|trans }}
    </p>
    <p>
        <a href="#" class="text-white">{{ 'Back to the top'|trans }}</a>
    </p>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>