{% trans_default_domain  'defaultTrans' %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Guestbook'|trans }} - {{ conference }}{% endblock %}

{% block body %}
    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message|trans }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h2 class="mb-5">
        {{ 'Conference'|trans }} : {{ conference }}
    </h2>

    <div class="row">
        <div class="col-12 col-lg-8">
            {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="media shadow border rounded-3 p-3 mb-4">
                    <div class="comment-img me-3">
                        {% if comment.photofilename %}
                            <a href="{{ asset('uploads/photos/' ~ comment.photofilename) }}" target="_blank">
                                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
                            </a>
                        {% endif %}
                    </div>

                    <div class="media-body">
                        <h4 class="font-weight-light mb-0">
                            {{ comment.author }}
                        </h4>

                        <div class="mb-2">
                            <small class="text-muted text-uppercase">
                                {{ comment.createdAt|date('Y/m/d') }}
                            </small>
                        </div>

                        <div class="comment-text">
                            {{ comment.text|nl2br }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div>
                {{ comments|length }}
                {% if comments|length == 1 %}
                    {{ 'comment'|trans }}
                {% else %}
                    {{ 'comments'|trans }}
                {% endif %}
            </div>
            <div class="mb-3">
                {% if previous >= 0 %}
                    <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">
                        <i class="fa-solid fa-arrow-left"></i> {{ 'Previous'|trans }}
                    </a>
                {% endif %}
                {% if next < comments|length %}
                    <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">
                        {{ 'Next'|trans }} <i class="fa-solid fa-arrow-right"></i>
                    </a>
                {% endif %}
                {% else %}
                    <div class="text-center">
                        {{ 'No comment'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-light shadow border rounded-3 p-4">
                <h3 class="font-weight-light">
                    {{ 'Post a comment'|trans }}
                </h3>

                {{ form(comment_form) }}
            </div>
        </div>
    </div>
{% endblock %}
